<!doctype html>
<html lang="en">
  <head>
    <%- include('./partial/head') %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-200 h-200 p-3 mx-auto flex-column">

   <!--헤더 부분-->      
   <header class="masthead">
    <%- include('./partial/nav') %>
  </header>
  <!--헤더 부분 끝-->


  <main role="main" class="inner cover">
    <a href = "create_survey_detail">click </a>

  </main>

   <!--가운데 메인 부분 끝-->

  <!--맨 아랫부분-->
  <footer class="mastfoot mt-auto">
    <div class="inner">
    <p>Prototype for <a href="https://getbootstrap.com/">survey service</a></p>
  </div>
  </footer>
  </div>
  </body>
  </html>

