<!doctype html>
<html lang="en">
  <head>
    <%- include('./partial/head') %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
  <!--헤더 부분-->      
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Servey Service</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>
  <!--헤더 부분 끝-->

  <!--가운데 메인 부분-->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Survey Service : 블록체인 기반 설문조사 서비스</h1>
    <p class="lead">이 부분에다가 버튼 넣기</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Log in</a>
    </p>
  </main>
  <!--가운데 메인 부분 끝-->

<!--맨 아랫부분-->
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Prototype for <a href="https://getbootstrap.com/">survey service</a></p>
    </div>
  </footer>
</div>
</body>
</html>
