<!doctype html>
<html lang="en">
  <head>
    <%- include('./partial/head') %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-200 h-200 p-3 mx-auto flex-column">
  
  <!--헤더 부분-->      
  <header class="masthead mb-auto">
    <%- include('./partial/nav') %>
  </header>
  <!--헤더 부분 끝-->

  <!--가운데 메인 부분-->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Survey Service : 블록체인 기반 설문조사 플랫폼</h1>
    <p class="lead">다른 사람의 설문을 작성하여 코인을 얻고, 나의 설문을 등록해 보세요</p>
    <div class="container" style="text-align:center;margin:0 auto;">
    <div class = "circle_button" float:left>
        <a href= "#">Quick Survey</a>
    </div>
    <div class = "circle_button" float:left>
        <a href= "/surveylist">Survey List</a>
    </div>
    <div class = "circle_button" float:left>
        <a href= "/create_survey">Create Survey</a>
    </div>
    </div>
</main>
  <!--가운데 메인 부분 끝-->

<!--맨 아랫부분-->
  <footer class="mastfoot mt-auto">
      <div class="inner">
      <p>Prototype for <a href="https://getbootstrap.com/">survey service</a></p>
    </div>
  </footer>
</div>
</body>
</html>
