<!doctype html>
<html lang="en">
  <head>
    <%- include('./partial/head') %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-200 h-200 p-3 mx-auto flex-column">
    <style>
      form {border: 3px solid #f1f1f1}

      input[type=text] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      button {
        background-color: gray;
        color: white;
        padding: 14px 20px;
        margin: none;
        cursor: pointer;
        width: 50%;
      }

      button:hover {
        opacity: 0.8;
      }
     
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      img.avatar {
        width: 40%;
        border-radius: 50%;
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }

      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }                
      }
    </style>  
  
  <!--헤더 부분-->      
  <header class="masthead mb-auto">
    <%- include('./partial/nav') %>
  </header>
  <!--헤더 부분 끝-->

  <!--가운데 메인 부분-->
  <main role="main" class="inner cover">
    <!--로그인 form-->
    <h2>Login</h2>

    <form action="/" method="get">
      <div class="imgcontainer"></div>      
          
      <div class="container">
        <div>
          <label for="uname"><b>Username</b></label>
        </div>  
          <input type="text" placeholder="Enter Username" name="uname" required>
        

        <div>
          <label for="psw"><b>Password</b></label>
        </div>  
          <input type="password" placeholder="Enter Password" name="psw" required>
        
        <button type="submit">Login</button>                
        <div>
          <label>
            <input type="checkbox" checked="checked" name="remember">Remember Information  
          </label>   
        </div>
      </div>  

      <div class="container" style="background-color:#f1f1f1">       
        <span class="psw">Forgot<a href="#"> Password ?</a></span>
      </div>
    </form>

</main>
  <!--가운데 메인 부분 끝-->

<!--맨 아랫부분-->
  <footer class="mastfoot mt-auto">
      <div class="inner">
      <p>Prototype for <a href="https://getbootstrap.com/">survey service</a></p>
    </div>
  </footer>
</div>
</body>
</html>
