<div class="inner">
    <h3 class="masthead-brand">Survey Service</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/mypage">My Page</a>
      <a class="nav-link" href="/surveylist">Survey List</a>
      <a class="nav-link" href="/create_survey">Create Survey</a>
      <a class="nav-link" href="/signin">Sign in</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/logout">Logout</a>
      
      <br>
  </nav>
  </div>